.guitarras{
  color: #1F313C;
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
  }

  &__article{
    border-radius: 8px;
    border: 1px solid #1F313C;
    margin: 10px;
    padding: 10px;
    margin-bottom: 60px;
    &.b{
      height: 190px;
    }
    &__img{
      position: relative;
    }
    &__title{
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
}
