.header{
  &__logotipo{
    display: inline-block;
  }
  &__menu{
    font-size: 24px;
    display: inline-block;
    & .menu{
      &__item{
        display: inline-block;
        margin-left: 30px;
      }
    }
  }
}
