.header{
  position: relative;
  &__logotipo{
    display: inline-block;
    margin-left: 0;
  }
  &__menu{
    position: absolute;
    right: 0;
    font-size: 24px;
    display: inline-block;
    & .menu{
      &__item{
        display: inline-block;
        margin-left: 30px;
        &::before{
          content: "*";
          line-height: 20px;
          color: white;
        }
        & a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
