@import "variables";
@import "header";
@import "portada";
@import "guitarras";

body{
  margin: 0;
  font-family: 'Allerta', sans-serif;
}

.container{
  width: 800px;
  margin: auto;
  &__guitarra{
    &-a{

    }
    &-b{
      margin-left: 370px;
    }
  }
}

.left{
  float: left;
  top: 80px
}

.right{
  float: right;
  right: 0;
  top: -125px;
}
