@import "variables";
@import "header";
@import "portada";
@import "guitarras";
@import "footer";

body{
  margin: 0;
  font-family: 'Allerta', sans-serif;
}

.container{
  width: 800px;
  margin: auto;
  &__guitarra{
    &-a{

    }
    &-b{
      margin-left: 370px;
    }
  }
}

.left{
  float: left;
  top: 80px
}

.right{
  float: right;
  right: 0;
  top: -125px;
}

.button{
  margin-bottom: 70px;
  border-radius: 6px;
  border: none;
  background-color: #fd324e;
  color: white;
  padding: 7px;
}
