table{
  margin: 70px 0;
  width: 100%;
}

th{
  background: #273b47;
  color: white;
}

th{
  padding: 10px 20px;
  text-align: left;
}
td{
  padding: 20px;
}

table, th, td{
  border: 1px solid #273b47;
  border-collapse: collapse;
}
